.form {
    background-color: #F28D28 ;
    margin: auto;
    width: 90%;
    max-width: 400px;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgb(0 0 0 /30%);
    text-align: center;
}

.form_container{
    margin-top: 3em;
    display:grid;
    gap: 1em;

}

.form_group{
    position: relative;
    color: #F28D28;

}

.form_imput{
    width: 100%;
    font-size: 1rem;
    padding: .6em .3em;
    border: 1px solid #94C12D;
}

.form_label{
    font-family: Poppins;
}

.form.title{
    font-size: 2rem;
    margin-bottom: .5em;


}

/*ANIMACIONES*/

button:hover:nth-child(odd) {
    color: rgb(255, 255, 255);
    background-color: #D9213F;
    border-radius: 6px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.3s;
}

table,
th,
td,
tr {

    color: #F28D28;
    text-align: center;
    padding-left: 1em;
    margin: auto;
    margin-top: 1em;

}

/*DEFINICIÓN Y CONFIGURACIÓN DEL GRID*/
.contenedorContacto {
    display: grid;
    grid-template-rows: 70px 40px auto 80px;
    grid-template-areas: "encabezado"
        "barnav"
        "textview"
        "footer";
}

.header {
    grid-area: encabezado;
    background-color: white;
}

.barnav {
    grid-area: barnav;
    background-color: #F28D28;
}

.textview {
    grid-area: textview;
    background-color: #ffd6ac;
    padding-bottom: 30px;
}

.footer {
    grid-area: footer;
    background-color: white;
}

/*Cuerpo de la página*/
.textview {
    margin-left: -8px;
    margin-right: -10px;
}

/*---sin <pies> ni <cabeza>---*/
.subt {
    text-align: center;
}

.subrayado {
    text-decoration: underline wavy #94C12D;
}