/*ANIMACIONES*/
button:hover:nth-child(odd) {
    color: rgb(255, 255, 255);
    background-color:#D9213F;
    border-radius:6px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.3s;
}
table,
    th,
    td,
    tr {
        
        color: #F28D28;
        text-align: center;
        padding: 0,7em;
        margin: auto;
        margin-top: 1em;
        
    }
