/*DEFINICIÓN Y CONFIGURACIÓN DEL GRID*/
.contenedor_index{
    display: grid;
    grid-template-rows: 70px 40px auto 80px;
    grid-template-areas:"encabezado"
                        "barnav"
                        "textview"
                        "footer" ;
}
.header{ grid-area: encabezado; background-color: white;}
.barnav{grid-area: barnav; background-color:#F28D28;}
.bodynav{grid-area: textview; background-color: #ffd6ac;}
.footer{grid-area:footer;background-color: white;}
/*Lineas de corte*/
@media only screen and (min-width: 1920px) {  
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 35px;
        text-align: center;
    }
    h3{
        font-size: 30px;
        text-align: center;
    }
    img{
        max-width: 550px;
    }
    a{
        font-size: 25px;
    }
    .caja_nueva_supreme{
        flex-direction: row;
        justify-content: space-around;
    }
    div.contene_text{
        max-width: 700px;
    }
    div.promoqr{
        justify-content: space-around;  
    }
    .descarga{
        font-size: 35px;
    }
    div.caja_nueva-supreme{
        justify-content:space-between;
    }
    img.img_supreme{
        max-width: 400px;
    }
}
@media only screen and (max-width: 1280px) {
    .promo_qr,.caja_nueva_supreme{
        flex-direction: row;
        align-content: center;
        align-content: center;
    }
    .texto_supreme{
        order: 2;
    }
    .img_supreme{
        order: 1;
    }
    .present_supreme{
        order: 1;
        text-align: right;
    }
    .botonp{
        order:2;
    }
}
@media only screen and (max-width: 800px) {
    .promo_qr,.caja_nueva_supreme{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .caja_nueva_supreme {
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
    .texto_supreme {
        width: 100%;
        text-align: center;
      }
    .contene_text{
        order: 1;
    }
    .contene_qr,.texto_supreme{
        order: 2;
    }
    .caja_img_supreme{
        order: 3;
        width: 100%;
    }
    h2.present_supreme{
        order: 1;
        text-align: center;
    }
    .caja_horario{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .text_horario{
        order: 1;
        width: 100%;
        height: auto;
    }
    .img_horario{
        order: 2;
        width: 100%;
        height: auto;
    }   
    .promo_qr{
        margin-bottom: 20px;
    }
    .botonp{
        order:2;
        margin-bottom: 25px;
    }
    div.caja_nueva_supreme>div.caja_img_supreme>img.img_supreme,div.caja_horario>img.img_horario{
        max-width: 420px;
    }
}
/*Centrado*/
.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Cuerpo de la página*/
.bodynav{
    margin-left: -8px;
    margin-right: -10px;
    padding-bottom: 25px;
}
/*---sin <pies> ni <cabeza>---*/
.subt{
    text-align: center;
}
/*Boton "Contanos tu experiencia"*/
.caja_contanos{
    margin-bottom: 15px;
}
.contanos{
    color: white;
    margin-left: 25px;
    margin-bottom: 25px;
    text-decoration: none;
    background-color: #D9213F;
    border-radius: 6px;
    padding: 3px;
    border-bottom: 4px solid #F28D28;
}
.contanos:hover{
    font-size: large;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.4s;
}
/*Caja del texto e imágen de la promo del QR*/
.promo_qr{
    display: flex;
    padding: 10px;
    align-items: center;
    align-content: center;
    
}

/*Caja del jpg del QR*/
.contene_qr{
    width: 100%;
    height: auto;
    max-width: 200px;
    border: 5px solid #94C12D;
}
/*Promo Supreme*/
.caja_nueva_supreme {
    display: flex;
    border-top: 4px solid #94C12D;
    border-bottom: 4px solid rgb(13, 17, 28);
    background-color: rgb(12, 15, 20, 255);
    border-bottom: 4px solid #D9213F;
}
.texto_present_supreme {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.supreme{
    color: #D9213F;
    padding: 5px;
}
.present_supreme{
    padding: 10px;
    line-height: 50px;
}
.texto_supreme {
    width: 50%;
    margin-left: 20px;
    max-width: 400px;
    min-width: 200px;
}
/*Botón PROBALA*/
.probala{
    color: white;
    text-decoration: none;
    background-color: #D9213F;
    padding: 2px;
    border-radius: 6px;
}
.botonp{
    justify-items: center;
}
.probala:hover{
    padding-left: 40px;
    padding-right: 40px;
    transition-property: all;
    transition-duration: 0.4s;
}
.caja_img_supreme{
    flex: 1;
    align-items: center;
}
.img_supreme{
    width: 100%;
    height: auto;
}
.white{
    color: whitesmoke;
}
/*Caja CAMBIO DE HORARIO*/
.caja_horario{
    display: flex;
    padding-top: 15px;
}
.text_horario{
    width: 50%;
    height: 50%;
    margin-right: 15px;
    text-align: center;
}
.img_horario{
    width: 50%;
    height: auto;
}
.subwavy{
    text-decoration: underline 3px;
}
.id{

}