/*DEFINICIÓN Y CONFIGURACIÓN DEL GRID*/
.contenedor_index{
    display: grid;
    grid-template-rows: 70px 40px auto 80px;
    grid-template-areas:"encabezado"
                        "barnav"
                        "textview"
                        "footer" ;
}
.header{ grid-area: encabezado; background-color: white;}
.barnav{grid-area: barnav; background-color:#F28D28;}
.bodynav{grid-area: textview; background-color: #ffd6ac;}
.footer{grid-area:footer;background-color: white;}
/*Cuerpo de la página*/
.bodynav{
    margin-left: -8px;
    margin-right: -10px;
    padding-bottom: 25px;
}
/*---sin <pies> ni <cabeza>---*/
.subt{
    text-align: center;
}
/*Boton "Contanos tu experiencia"*/
.caja_contanos{
    margin-bottom: 15px;
}
.contanos{
    color: white;
    margin-left: 25px;
    margin-bottom: 25px;
    text-decoration: none;
    background-color: #D9213F;
    border-radius: 6px;
    padding: 3px;
    border-bottom: 4px solid #F28D28;
}
.contanos:hover{
    font-size: large;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.4s;
}
/*Caja del texto e imágen de la promo del QR*/
.promo_qr{
    display: flex;
    padding: 10px;
    align-items: center;
    align-content: center;
    
}
/*Caja del texto*/
.contene_text{
    width: 70%;
    margin-right: 30px;
    max-width: 400px;
    min-width: 200px;
}
/*Caja del jpg del QR*/
.contene_qr{
    width: 100%;
    height: auto;
    max-width: 200px;
    border: 5px solid #94C12D;
}
.caja_nueva_supreme{
    border-top: 4px solid #94C12D;
    border-bottom: 4px solid rgb(13, 17, 28);
    background-color: rgb(12,15,20,255);
    border-bottom: 4px solid #D9213F;
}
.supreme{
    color: #F28D28;
    padding: 5px;
}
.present_supreme{
    padding: 10px;
    line-height: 50px;
    text-align: right;
}
.caja_graph_supreme{
    display: flex;
    padding: 10px;
    align-items: center;
    align-content: center;
}
.texto_supreme{
    width: 50%;
    margin-right: 30px;
    max-width: 400px;
    min-width: 200px;
    text-align: center;
}
.caja_img_supreme{
    width: 50%;
}
.img_supreme{
    width: 100%;
    height: auto;
}
.white{
    color: whitesmoke;
}