/*DEFINICIÓN Y CONFIGURACIÓN DEL GRID*/
.contenedor_nutri {
  display: grid;
  grid-template-rows: 70px 40px auto 80px;
  grid-template-areas: "encabezado"
    "barnav"
    "cuerpo"
    "footer";

}
/*Lineas de Corte*/
@media only screen and (min-width: 1920px){
}
@media only screen and (max-width: 1280px) {
}
@media only screen and (max-width: 800px) {
  .lechuga,.tomate,.pan{
    flex-direction: column;
    align-items: center;
  }
  div.desarrollo > div.intron > p.centrado{
    font-size: 20px;
    text-align: center;
    justify-items: center;
    max-width: 400px;
  }
  img.imgflexd,img.imgflexi{
    max-width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tabla{
    max-width: 500px;
    margin: 0 auto;
  }
  div.contenedor_nutri > div.item.desarrollo > p{
    max-width: 300px;
  }
  .parra{
    align-items: center;
    text-align: center;
  }
}
/*Caja Títulos*/
.intron{
    width: 100%;
    height: auto;  
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Otros ajustes*/
.header {
  grid-area: encabezado;
  background-color: white;
}

.barnav {
  grid-area: barnav;
  background-color: #F28D28; 
}
.desarrollo{
  grid-area: cuerpo;
  background-color: #ffd6ac;
  margin-left: -8px;
  margin-right: -10px;    
}

.footer {
  grid-area: footer;
  background-color: white;
}

/*Style de la tabla*/
.tabla {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
  margin-bottom: 15px;
  margin-top: 30px;
  padding: 15px;
  gap: 4px;
  border-color: black;
}

.header2 {
  font-size: 24px;
  font-weight: bold;
  grid-column: 1 / -1;
  margin-bottom: 15px;
}

.itemt {
  font-weight: bold;
  background-color: #ffa347;
}

.calories {
  background-color: #d1ff66;
}

.fats {
  background-color: #ffa347;
}

.carbs {
  background-color: #d1ff66;
}

.proteins {
  background-color: #ffa347;
}

.itemt{
  padding: 5px;
}
.calories,
.fats,
.carbs,
.proteins {
  font-weight: bold;
}
.subrayado{
  text-decoration: underline wavy #94C12D;
}
.centrado{
  text-align: center;
}
.cont_imgs{
  display: grid;
  grid-template-rows: auto auto auto;
  
}
.lechuga,.tomate,.pan{
  display: flex;
}
.lechuga{
  border-top: 3px dashed #94C12D;
}
.tomate{
  border-top: 3px dashed #F28D28;
}
.pan{
  border-top: 3px dashed #D9213F;
  border-bottom: 3px dashed #94C12D;
}
.imgflexi{
  width: 100%;
  height: auto;
  float:left;
  max-width: 200px;
}
.imgflexd{
  width: 100%;
  height: auto;
  float:right;
  max-width: 200px;
}
.conti_50{
  width: 50%;
  float: left;
  margin-left: 25px;
}
.contd_50{
  width: 50%;
  float: right;
  margin-right: 25px;
}
.parra{
  width: 100%;
  height: auto;
}