/*
Rojo #D9213F/Naranja #F28D28/
Naranja Claro #ffd6ac/Verde #94C12D
*/
@font-face {
    font-family: AristaPro;
    src: url("/Media/Arista-Pro-Fat-trial.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("/Media/Poppins-Regular.ttf");
}
@font-face {
    font-family: PoppinsThin;
    src: url("/Media/Poppins-Thin.ttf");
}
* {
    font-family: Poppins;
    color: black;
}
<<<<<<< HEAD
=======
/*DEFINICIÓN Y CONFIGURACIÓN DEL GRID*/
.container{
    display: grid;
    grid-template-rows: 200px 200px 200px;
    grid-template-areas: "header"
                        "barnav"
                        "textview"
                        "footer" ;
    width: 100%;
    justify-content: center;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
    background-color: white;
    padding: 10px;
}
.grid-item{
    border-color: #a3a3a3;
    border-style: solid;
    border-width: 2px;
    font-size: 25px;


}
.titulo{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}



.header{
    grid-area: header;
    background-color: white;}
.barnav{
    grid-area: barnav;
    background-color:#F28D28;
    border-style: solid none solid none;
    border-color:#94C12D ;
    border-width: 4px; }
.textview{
    grid-area: textview;
    background-color: #ffd6ac;}
.footer{
    grid-area:footer;
    background-color: white;}
/*------------------------------*/
body{
    height: 100%;
}
>>>>>>> c8f024851a8bed51e2f5275e3c78fd3301e6c7ce
header {
    background-color: white;
    width: 100%;
    height: 70px;
<<<<<<< HEAD
    margin: -8px;
=======
    /*margin: -8px;
    border-bottom: 4px inset #94C12D;*/
>>>>>>> c8f024851a8bed51e2f5275e3c78fd3301e6c7ce
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

footer {
    background-color: white;
    text-align: center;
<<<<<<< HEAD
    margin-left: -8px;
    margin-right: -10px;
    border-top:4px solid #94C12D;
=======

    border-top:4px inset #b3ff02;
>>>>>>> c8f024851a8bed51e2f5275e3c78fd3301e6c7ce
}

h1 {
    font-family: AristaPro;
    color: #D9213F;
    font-size: 40px;
    text-align: center;
}
h2,p{
    margin-left: 25px;
}

.cimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;

}

.barnav {
<<<<<<< HEAD
    margin-left: -8px;
    margin-right: -10px;
    border-bottom: 4px solid #94C12D;
    border-top: 4px solid #94C12D;
=======
    width: 100%;
    height: 35px;
    /*margin: -8px;
    border-bottom: 4px inset #94C12D;*/
>>>>>>> c8f024851a8bed51e2f5275e3c78fd3301e6c7ce
    display: flex;
    justify-content: space-evenly;
    overflow: scroll;
}
.barnav::-webkit-scrollbar{
    display: none;
}

.linkbar {
    object-fit: contain;
    align-self: center;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

.linkbar2 {
    background-color: #D9213F;
    color: white;
    object-fit: contain;
    align-self: center;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

.iconos-footer img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.derechos-reservados {
    font-size: 14px;
    color: #000000;
    background-color: white;
}
.verde{
    color: #94C12D;
}
.naranja{
    color: #F28D28;
}
.rojo{
    color: #D9213F;
}
.poppins{
    font-family: PoppinsThin;
}
/*ANIMACIONES*/
nav a:hover:nth-child(odd) {
    color: rgb(255, 255, 255);
    background-color:#D9213F;
    border-radius:6px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.4s;
}

nav a:hover:nth-child(even) {
    color: rgb(255, 255, 255);
    background-color:#94C12D;
    border-radius: 6px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.4s;
}
<<<<<<< HEAD
.linkbar2:hover{
    font-size: larger;
}
=======
/*-------------*/
>>>>>>> c8f024851a8bed51e2f5275e3c78fd3301e6c7ce
