/*
Violeta #634394
Celeste #5AABE0
Gris #2e302f
Rojo #D9213F
Naranja #F28D28
Naranja Claro #ffd6ac
Verde #94C12D
*/
@font-face {
    font-family: AristaPro;
    src: url("/Proyecto Final/Media/Arista-Pro-Fat-trial.ttf");
}

@font-face {
    font-family: Poppins;
    src: url("/Proyecto Final/Media/Poppins-Regular.ttf");
}
@font-face {
    font-family: PoppinsThin;
    src: url("/Proyecto Final/Media/Poppins-Thin.ttf");
}
* {
    font-family: Poppins;
    color: black;
}
/*DEFINICIÓN Y CONFIGURACIÓN DEL GRID*/
.container{
    display: grid;
    grid-template-rows: 70px 35px auto 80px;
    grid-template-areas: "header"
                        "barnav"
                        "textview"
                        "footer" ;
}
.header{ grid-area: header; background-color: white;}
.barnav{grid-area: barnav; background-color:#F28D28;}
.textview{grid-area: textview; background-color: #ffd6ac;}
.footer{grid-area:footer;background-color: white;}
/*------------------------------*/
body{
    height: 100%;
}
header {
    background-color: white;
    width: 100%;
    height: 70px;
    margin: -8px;
    border-bottom: 4px inset #94C12D;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

footer {
    background-color: white;
    width: 100%;
    text-align: center;
    
    border-top:4px inset #b3ff02;
}

h1 {
    font-family: AristaPro;
    color: #D9213F;
    font-size: 40px;
    text-align: center;
}
.subt{
    text-align: center;
}

.cimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;
    
}

.barnav {
    width: 100%;
    height: 35px;
    margin: -8px;
    border-bottom: 4px inset #94C12D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.textview{
    width: 100%;
    padding: 15px;
}
.linkbar {
    object-fit: contain;
    align-self: center;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

.iconos-footer img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.derechos-reservados {
    font-size: 14px;
    color: #000000;
    background-color: white;
}
.verde{
    color: #94C12D;
}
.naranja{
    color: #F28D28;
}
.rojo{
    color: #D9213F;
}
.poppins{
    font-family: PoppinsThin;
}
/*ANIMACIONES*/
nav a:hover:nth-child(odd) {
    color: rgb(255, 255, 255);
    background-color:#D9213F;
    border-radius: 9px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.2s;
}

nav a:hover:nth-child(even) {
    color: rgb(255, 255, 255);
    background-color:#94C12D;
    border-radius: 9px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.2s;
}
/*-------------*/