/*
Rojo #D9213F/Naranja #F28D28/
Naranja Claro #ffd6ac/Verde #94C12D
sabor sin &lt; pies &gt; ni &lt; cabeza &gt;
*/
@font-face {
    font-family: AristaPro;
    src: url("/Media/Arista-Pro-Fat-trial.ttf");
}
@font-face {
    font-family: Poppins;
    src: url("/Media/Poppins-Regular.ttf");
}
@font-face {
    font-family: PoppinsThin;
    src: url("/Media/Poppins-Thin.ttf");
}
* {
    font-family: Poppins;
    color: black;
}
@media only screen and (min-width: 1920px){
    a.linkbar,a.linkbar2{
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    footer > p.derechos-reservados{
        font-size: 25px;
    }
    footer > div.iconos-footer > img{
        width: 40px;
        height: auto;
    }
}
header {
    background-color: white;
    width: 100%;
    height: 70px;
    margin: -8px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

header:hover img {
    animation: bounce 2.5s;
}

@keyframes bounce {
    0% {
        transform: scaleX(1);
    }
    20% {
        transform: scaleX(2);
    }
    40% {
        transform: scaleX(0.8);
    }
    60% {
        transform: scaleX(1.2);
    }
    80% {
        transform: scaleX(0.9);
    }
    100% {
        transform: scaleX(1);
    }
}

footer {
    background-color: white;
    text-align: center;
    margin-left: -8px;
    margin-right: -10px;
    margin-top: 15px;
    border-top:4px solid #94C12D;
}

h1 {
    font-family: AristaPro;
    color: #D9213F;
    font-size: 40px;
    text-align: center;
}
h2,p{
    margin-left: 25px;
}

.cimg {
    width: 100%;
    height: 100%;
    object-fit: contain;
    align-self: center;
}

.barnav {
    margin-left: -8px;
    margin-right: -10px;
    border-bottom: 4px solid #94C12D;
    border-top: 4px solid #94C12D;
    display: flex;
    justify-content: space-around;
    overflow: scroll;
}
.barnav::-webkit-scrollbar{
    display: none;
}

.linkbar {
    object-fit: contain;
    align-self: center;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

.linkbar2 {
    background-color: #D9213F;
    color: white;
    object-fit: contain;
    align-self: center;
    text-decoration: none;
    padding-right: 4px;
    padding-left: 4px;
}

.iconos-footer img {
    width: 25px;
    height: 25px;
    margin: 5px;
}

.derechos-reservados {
    font-size: 14px;
    color: #000000;
    background-color: white;
}
.verde{
    color: #94C12D;
}
.naranja{
    color: #F28D28;
}
.rojo{
    color: #D9213F;
}
.poppins{
    font-family: PoppinsThin;
}
/*ANIMACIONES*/
nav a:hover:nth-child(odd) {
    color: rgb(255, 255, 255);
    background-color:#D9213F;
    border-radius:6px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.4s;
}

nav a:hover:nth-child(even) {
    color: rgb(255, 255, 255);
    background-color:#94C12D;
    border-radius: 6px;
    font-weight: bold;
    transition-property: all;
    transition-duration: 0.4s;
}
.linkbar2:hover{
    font-size: larger;
}
